
/* Genesis */

@font-face {
  font-family: 'Kanit', sans-serif;
  src: url(../fonts/kanit/kanit-regular.ttf) format('truetype');
}

body {
  font-family: "kanit", sans-serif;
  color: #323232;
}

.container {
  margin: auto 24px;
  width: 100%;
}

/* Header Section */

/* logo */

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}

#header {
  display: flex;
}

#logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
}

#logo h1 span {
  font-weight: 600;
  color: gray;
}

header div img {

}

/* Navigation */

header nav {

}

header nav span {

}

header nav span a {
  display: inline-block;
  padding: 24px 8px;
  text-decoration: none;
  color: #4E4E4E;
  font-weight: 600;
}

header nav span a:hover {
  color: white;
  background-color: lightgray;
}

#signin {
  padding-right: 0px;
}

header nav img {
  display: none;
}

/* Banner Section */

article {
  background-color: lightgray;
  padding-top: 96px;
  padding-bottom: 32px;
  display: flex;
}

article img {
  max-width: 90%;
}

article .container {
  width: auto;
}

#bannertxt {
  display: block;
  position: relative;
  max-width: 30%;
  top: 8em;
}

#bannertxt h1 {
  font-size: 4em;
  font-weight: 900;
  padding-bottom: 1em;
}

#bannertxt h2 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 2em;
  line-height: 1.5em;
}

#bannertxt div {
}

#bannertxt div h3 {
  font-size: 1.5em;
  text-align: center;
  background-color: #4E4E4E;
  padding: 8px;
}

#bannertxt div h3 a {
  color: white;
  text-decoration: none;
}

#bannertxt div h3 a:hover {

}

@media only screen and (min-width: 1200px) and (max-width: 1824px) {

  #bannertxt {
    top: 5em;
    max-width: 32%;
  }

  #bannertxt h1 {
    font-size: 2.5em;
  }

  #bannertxt h2 {
    font-size: 1.5em;
  }

  #bannertxt div {
    width: 87%;
  }
}

/* Middle Section */

#midsec {
  display: flex;
}

#midsec .container {
  width: 58%;
  margin: 32px 24px;
}

#midsec1 {

}

#midsec1 img {
  padding-bottom: 32px;
}

#midsec1 h1 {
  font-size: 4em;
  font-weight: 600;
  padding-bottom: 24px;
}

#midsec1 h2 {
  font-size: 1.5em;
}

#midsec1 p {
  padding-top: 30px;
  font-size: 1.1em;
  margin-bottom: 32px;
}

#midsec1 h2, p {
  color: #4E4E4E;
}

@media only screen and (min-width: 1200px) and (max-width: 1824px) {

  #midsec .container {
    width: unset;
    margin: 32px 24px;
  }

  #midsec1 {
    width: 100%;
  }

  #midsec1 img {
    height: 22em;
  }

  #midsec1 h1 {
    font-size: 3em;
  }
}

/* Campus Info */

#midsec2 {
  padding-top: 16px;
  border-left: 1px solid lightgray;
}

#midsec2 section:hover {
  background-color: lightgray;
}

.ms2-boxes {
  display: flex;
  padding: 16px;
}

.ms2-boxes img {
  padding-right: 24px;
}

.ms2-boxes div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ms2-boxes div h1 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 16px;
}

.ms2-boxes div h2, .ms2-boxes div span {
  font-size: 1.3em;
}

.ms2-boxes div h2 {

}

.ms2-boxes div span {
  padding-top: 16px;
}

.ms2-boxes div a {
  text-decoration: none;
  color: deepskyblue;
}

@media only screen and (min-width: 1200px) and (max-width: 1824px) {

  #midsec2 {
  }

  .ms2-boxes {
    display: inline-flex;
  }

  .ms2-boxes img {
    height: 11em;
  }
}

/* Learning Section */

#learning {
  background-color: lightgray;
}

#learn {
  font-size: 4em;
  font-weight: 600;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 16px;
}

#learn h1 {

}

#learn2 {
  margin: auto 56px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 32px;
  justify-content: center;
}

.courses {
  padding: 16px;
  width: min-content;
}

.courses img {
  height: auto;
}

.courses div {
  background-color: white;
  padding: 16px;
  line-height: 24px;
}

.courses div h1 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 16px;
}

.courses div h2, h3 {
  font-size: 1.2em;
  padding: 8px 0px;
  color: #9B9B9B;
}

.courses div h2 {

}

.courses div h3 {
  width: 67%;
}

#compart h3 {
  width: 81%;
}

@media only screen and (min-width: 1200px) and (max-width: 1824px) {

  .courses {
    width: 30%;
  }

  .courses img {
    width: 100%;
  }

  .courses div h1 {
    font-size: 1.5em;
  }

  #software  h3 {
    padding-bottom: 31px;
  }

  .courses div h3 {
    width: 72%;
  }

  .courses div h2, h3 {
    font-size: 21px;
  }
}

/* Thesis Section */

#thesis-sec {

}

#te-title {
  font-size: 4em;
  font-weight: 600;
  text-align: center;
  padding-top: 32px;
}

#thesis {
  display: flex;
  align-items: end;
}

/*#tvideo {
  margin: 32px 24px;
  width: 60%;
}*/

#thesis video {
  width: 60%;
  padding-bottom: 24px;
  margin: 32px 24px 0px 24px;
}

#tvideo div {

}

#tvideo div h1 {
  font-size: 4em;
  font-weight: 600;
  padding-bottom: 24px;
}

#tvideo div h2 {
  font-size: 1.5em;
  color: #4E4E4E;
}

#tvideo2 {
  margin-top: 16px;
}

#tvideo2 section:hover {
  background-color: lightgray;
}

.te-boxes {
  display: flex;
  padding: 16px;
}

.te-boxes img {
  padding-right: 16px;
}

.te-boxes div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.te-boxes div h1 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 16px;
}

.te-boxes div h2 {
  font-size: 1.3em;
}

#urban {
  margin: 32px 24px;
  width: 51%;
}

#urban h1 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 24px;
}

#urban h2 {
  font-size: 1.5em;
  color: #4E4E4E;
}

@media only screen and (min-width: 1200px) and (max-width: 1824px) {

  .te-boxes {
  display: inline-flex;
  }

  .te-boxes img {
    height: 10em;
  }

  .te-boxes div h1 {
    font-size: 1.5em;
  }

  .te-boxes div h2 {
    font-size: 1em;
  }
}

/* Footer Section */

footer {
  border-top: 2px solid gray;
}

#copyright {
  display: flex;
  margin: auto 24px;
  padding-bottom: 40px;
  padding-top: 16px;
}

#copyright h1 {
  flex-grow: 1;
}

#copyright h2 {

}

#copyright a {
  text-decoration: none;
  color: #323232;
}
