
/* Genesis */

@font-face {
  font-family: 'Kanit', sans-serif;
  src: url(../fonts/kanit/kanit-regular.ttf) format('truetype');
}

body {
  font-family: "kanit", sans-serif;
  color: #323232;
}

.container {
  margin: auto 24px;
  width: 100%;
}

/* Header Section */

/* logo */

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}

#header {
  display: flex;
}

#logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
}

#logo h1 span {
  font-weight: 600;
  color: gray;
}

header div img {

}

/* Navigation */

header nav {

}

header nav span {

}

header nav span a {
  display: inline-block;
  padding: 24px 8px;
  text-decoration: none;
  color: #4E4E4E;
  font-weight: 600;
}

header nav span a:hover {
}

#signin {
  padding-right: 0px;
}

header nav img {
  display: none;
}

/* Banner Section */

article {
  background-color: lightgray;
  padding-top: 96px;
  padding-bottom: 32px;
  display: flex;
}

article img {
  max-width: 100%;
}

article .container {
  width: auto;
}

#bannertxt {
  display: block;
  position: relative;
  max-width: 30%;
  top: 8em;
}

#bannertxt h1 {
  font-size: 4em;
  font-weight: 900;
  padding-bottom: 1em;
}

#bannertxt h2 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 2em;
  line-height: 1.5em;
}

#bannertxt div {
}

#bannertxt div h3 {
  font-size: 1.5em;
  text-align: center;
  background-color: #4E4E4E;
  padding: 8px;
}

#bannertxt div h3 a {
  color: white;
  text-decoration: none;
}

#bannertxt div h3 a:hover {

}

/* Middle Section */

#midsec {
  display: flex;
}

#midsec .container {
  width: 58%;
  margin: 32px 24px;
}

#midsec1 {

}

#midsec1 img {
  padding-bottom: 32px;
}

#midsec1 h1 {
  font-size: 4em;
  font-weight: 600;
  padding-bottom: 24px;
}

#midsec1 h2 {
  font-size: 1.5em;
}

#midsec1 p {
  padding-top: 30px;
  font-size: 1.1em;
  margin-bottom: 32px;
}

#midsec1 h2, p {
  color: #4E4E4E;
}

/* Campus Info */

#midsec2 {
  padding-top: 16px;
  border-left: 1px solid lightgray;
}

#midsec2 section:hover {
  background-color: lightgray;
}

.ms2-boxes {
  display: flex;
  padding: 16px;
}

.ms2-boxes img {
  padding-right: 24px;
}

.ms2-boxes div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ms2-boxes div h1 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 16px;
}

.ms2-boxes div h2, .ms2-boxes div span {
  font-size: 1.3em;
}

.ms2-boxes div h2 {

}

.ms2-boxes div span {
  padding-top: 16px;
}

.ms2-boxes div a {
  text-decoration: none;
  color: deepskyblue;
}

/* Learning Section */

#learning {
  background-color: lightgray;
}

#learn {
  font-size: 4em;
  font-weight: 600;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 16px;
}

#learn h1 {

}

#learn2 {
  margin: auto 56px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 32px;
  justify-content: center;
}

.courses {
  padding: 16px;
  width: min-content;
}

.courses img {
  height: auto;
}

.courses div {
  background-color: white;
  padding: 16px;
  line-height: 24px;
}

.courses div h1 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 16px;
}

.courses div h2, h3 {
  font-size: 1.2em;
  padding: 8px 0px;
  color: #9B9B9B;
}

.courses div h2 {

}

.courses div h3 {
  width: 67%;
}

#compart h3 {
  width: 81%;
}
